src/main/app/diff_database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="root" database="training" doc:name="MySQL Configuration"/>
    <db:mysql-config name="MySQL_Configuration1" host="localhost" port="3306" user="root" password="root" database="training1" doc:name="MySQL Configuration"/>
    <flow name="diff_databaseFlow">
        <dw:transform-message metadata:id="177ea448-ffc5-45db-9e27-3bc1d047088c" doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\empty.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	flightName:payload.flight.actionType,
	from:payload.flight.source,
	to:payload.flight.destination,
	fronDate:payload.flight.fromDate,
	toDate:payload.flight.toDate
}]]></dw:set-payload>
        </dw:transform-message>
        <scatter-gather doc:name="Scatter-Gather">
            <db:select config-ref="MySQL_Configuration" doc:name="airindia">
                <db:parameterized-query><![CDATA[select * from air_india order by price limit 1]]></db:parameterized-query>
            </db:select>
            <db:select config-ref="MySQL_Configuration1" doc:name="Database">
                <db:parameterized-query><![CDATA[select * from flydubai order by price limit 1]]></db:parameterized-query>
            </db:select>
        </scatter-gather>
        <combine-collections-transformer doc:name="Combine Collections"/>
    </flow>
    <flow name="diff_databaseFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/diffdb" doc:name="HTTP"/>
        <flow-ref name="diff_databaseFlow" doc:name=""/>
        <dw:transform-message doc:name="Transform Message"/>
    </flow>
</mule>
